Output.txt
bok/bok.txt
bok/bok.xlsx
bok/bokClean.txt
bok/BoKCleaning.py
bok/~$bok.xlsx
__pycache__/
TRIMMED/
source/answer.csv
courses/
source/answer.csv
source/superTrimmedPDFs
.idea/
*.pdf
*.orig
source/temp_data
grobid-client-python/
